*{
    margin: 0px;
    padding: 0px;
}
header {
    height: 100px;  
    max-width: 800px;
    margin: 0px auto;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
header nav .menu{
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   min-width: 300px;
}
header nav .menu ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    margin-top: 15px; 
}
header .logo {
    width: 100px;
}
header .logo img {
    width: 100%;
	transform:translatey(0px);
	animation:float 5s ease-in-out infinite;
}
@keyframes float{
	0%{
		transform: translatey(0px);
	}
	50%{
		transform: translatey(15px);
	}
	100%{
		transform: translatey(0px);
	}
}
header .menu .mitems ul{
    display: flex;
    gap: 15px;
    margin-top: 15px;
    justify-content: flex-end;
}
header .menu .mitems ul li{
    list-style-type: none;
}
header .menu .mitems ul li a{
	font-family:'Merienda One', sans-serif;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
header .menu .mitems ul li a:hover, header .menu .mitems ul li .ativo{
    color: #888181;
    border-bottom: 2px solid black;
}
header .menu .mimg{
    width: 60px;
    height: 60px;
    margin-top: 10px;
    align-self: flex-end;
}
header .menu .mimg img{
    width: 100%;
}
main{
    max-width: 800px;
    margin: 0px auto;
    display: flex;
    gap:15px;
}


section{
    width: 100%;
    overflow: hidden;
}
main section h1{
	text-shadow: black 0px 3px 2px;
	font-family:'Merienda One', sans-serif;
	text-align:center;
}
main section img{
	margin:10px 0px;
    width: 100%;
}
section p{
	color:#888181;
	margin-bottom:15px;
	font-family: 'Roboto Condensed',sans-serif;
}
footer{
	text-align:center;
    max-width: 800px;
    margin: 0px auto;
}
@media (max-width: 425px){
	header{
		flex-direction:row;
	}
    header h1{
        line-height: 40px;
        padding: 10px;
    }
    main{
        flex-direction: column;
    }
    section{
        margin: 0;
    }
	
    section h4{
        font-size: 16px;
    }
    section h3{
        font-size: 16px;
    }
}